.menu__item{
  color: #000000;
  font-size: 2em; 
  font-weight: bold;
  padding: 20px 0px;
  text-transform: uppercase;
  line-height: 1;
}

.menu__item:hover:nth-child(1){
  color: #ff0000;
}

:hover{
  color: #3ecd16;
}
